@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  text-decoration: none;
  --underlineWidth: 2px;
  --blockLength: 1rem;
  background-image: linear-gradient(
      90deg,
      var(--theme-ui-colors-background, #222b40),
      var(--theme-ui-colors-background, #222b40)
    ),
    linear-gradient(
      var(--theme-ui-colors-mutedPrimary, rgb(176, 251, 188)),
      var(--theme-ui-colors-mutedPrimary, rgb(176, 251, 188))
    ),
    linear-gradient(
      var(--theme-ui-colors-primary, rgb(92, 212, 125)),
      var(--theme-ui-colors-primary, rgb(92, 212, 125))
    );
  background-repeat: no-repeat;
  background-size: var(--blockLength) var(--underlineWidth), 0 var(--underlineWidth), 0 var(--underlineWidth);
  background-position: calc(var(--blockLength) * -1) 100%, 100% 100%, 0 100%;
  transition: background-size 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) 0s,
    background-position 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) 0s, color 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) 0s;
}

a:hover {
  text-decoration: none;
  --underlineWidth: 2px;
  --blockLength: 0.75rem;
  background-image: linear-gradient(
      90deg,
      var(--theme-ui-colors-background, #222b40),
      var(--theme-ui-colors-background, #222b40)
    ),
    linear-gradient(
      var(--theme-ui-colors-mutedPrimary, rgb(176, 251, 188)),
      var(--theme-ui-colors-mutedPrimary, rgb(176, 251, 188))
    ),
    linear-gradient(
      var(--theme-ui-colors-primary, rgb(92, 212, 125)),
      var(--theme-ui-colors-primary, rgb(92, 212, 125))
    );
  background-repeat: no-repeat;
  background-size: var(--blockLength) var(--underlineWidth), 0 var(--underlineWidth), 100% var(--underlineWidth);
  background-position: calc(100% + var(--blockLength)) 100%, 100% 100%, 0 100%;
  transition: background-size 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) 0s,
    background-position 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) 0s, color 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) 0s;
  border: none;
}
